<footer id="footer">

    <a class="social" href=""><i class="fab fa-twitter"></i></a>
    <a class="social" href=""><i class="fab fa-facebook-f"></i></a>
    <a class="social" href=""><i class="fab fa-instagram"></i></a>
    <a class="social" href=""><i class="fas fa-envelope"></i></a>


    <p>© Copyright 2021 Qayam.Co.</p>

</footer>
